<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="content-type" content="text/html;charset=utf-8" />
	<meta name="Fawaz Fernand PARAISO" content="fifiant Cloud computing CEP Complex Event processing Multi-tenant Distributed Complex Event processing Engine Interoperability" />
	<meta name="robots" content="index,follow" />
	<link rel="stylesheet" href="/site_media/css/search.css" type="text/css" />
	<title>Topics !!! </title>
</head>
<body>
	<div id="content">
		<div id="pitch">
			<ul id="menu">
				<li><a href="http://chercheurs.lille.inria.fr/~paraiso">Home</a></li>
				<li><a href="#">About</a></li>
				<li><a href="#">Portfolio</a></li>
				<li><a href="#">Blog</a></li>
			</ul>
			<h1><span>Fawaz F.<br />PARAISO</span></h1>

		</div>
		
		<div class="x"></div>
