		<div class="line"></div>
			
		<div class="col">
			<h4>Distributed Complex Event Procesing</h4>
			<p class="date"><span>01</span><br />Mars</p>
			<p class="news"> todo</p>
		</div>
		<div class="col">
			<h4>Cloud computing</h4>
			<p class="date"><span>03</span><br />OCT</p>
			<p class="news"> State of art.</p>
		</div>
			
		<div id="updates">
			<h5>Receive more information about my work</h5>
			<form action="">
				<p>
					<label for="email">Enter your E-mail Address:</label>
					<input type="text" class="textfield" name="email" id="email" />
					<input type="submit" class="submit" name="submit" value="Submit" />
				</p>
			</form>
		</div>
			
		<div id="footer">
			<p>&copy; 2011 &middot; - <a href="http://chercheurs.lille.inria.fr/~paraiso" title="Research">Reseach</a></p>
		</div>
	</div>	
</body>
</html>
